h1 {
    color: white;
    margin-left: 20px;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(80, 21, 80);
    display: flex;
    justify-content: space-between;
}

.header{
    background-color:  rgb(80, 21, 80);
    display: flex;
    justify-content: space-between;
}


.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

a:visited{
    color: navy;
}

.link1{
    margin-left: 450px;
    
}

.link2{
    margin-left: 500px;
}

.link3{
    margin-left: 520px;
}

.link4{
    margin-left: 570px;
}

body{
    background-color: wheat;
}